.mainClass .myTeam ul li{
    padding: 0px;
    width:100%;
    height:90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.mainClass .myTeam ul li img{
    margin:0px;
    width:25%;
    height:100%;
}
.mainClass .myTeam ul li .heroImg:hover{
    display:none;
}
.mainClass .myTeam ul li .trashImg{
    display:none;
}

.mainClass .myTeam ul li:hover .trashImg{
    display:block;
}
.mainClass .myTeam ul li:hover .heroImg{
    display:none;
}
.mainClass .myTeam ul li h5{
    margin-left: 10px;
    height:fit-content;
}