
nav{
    background-color: #607f8d;
    display: flex;
    justify-content:center;
    height:50px;
    padding: 0px 1%;
}
nav>*{
    height: 100%;
    padding: 0px 5px;
}
nav h1{
    margin-top:10px;
    color:white;
    display: block;
    width:100%;
    font-size: 25px;
    text-align:left;
}
